@import "variables";

* {
    box-sizing: border-box;
}

body {
    background: $black;
    color: $white;
}

.logo {
    width: 25vw;
}

.button {
    background: $darkblue;
}

.joinus {
    background: $yellow;
}